body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url(head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 1px;
    text-align: center;
}

nav {
    background-color: #67e1ff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    display: block;
    color: #023d55;
    text-decoration: none;
    text-align: center;
}

.dropdown {
    text-align: left;
    padding: 1px;
    position: relative;
    display: inline-block;
}

.dropdown a {
    padding: 15px;
    position: relative;
    min-width: 100px;
    text-decoration: none;
}

.dropdown a:hover {
    min-width: 100px;
    padding: 15px;
    color: white;
    background-color: #023d55 ;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #67e1ff;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    min-width: 100px;
    color: #023d55;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
}

nav a:hover {
    min-width: 100px;
    color: black;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#content {
    flex-grow: 1;
}

#iframe-container {
    flex-basis: 30%;
}

iframe {
    width: 1880px;
    height: 700px; 
    border: none;
}

footer {
    background-color: #002635;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
}